[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/encommuns-theme"]
	path = themes/encommuns-theme
	url = git@github.com:osunyorg/encommuns-theme.git
